<!DOCTYPE html>
<html>
  <head>
    <title>Smart Travel Planner FROM ADRIAN CARRASCO</title>
  </head>
  <body>
    <h1>Smart Travel Planner – Adrian Carrasco</h1>
    <form action="/result/" method="post">
      {% csrf_token %}
      <label>Start City:</label>
      <select name="start_city">
        {% for city in cities %}
        <option>{{ city }}</option>
        {% endfor %}
      </select>
      <br />
      <label>End City:</label>
      <select name="end_city">
        {% for city in cities %}
        <option>{{ city }}</option>
        {% endfor %}
      </select>
      <br />
      <input type="submit" value="Plan My Trip" />
    </form>
    <br />
    <a href="/history/">View Travel History</a>
  </body>
</html>
